/**
// ==========================================================================
//  MAIN CSS FILE [ HEADER ]
// ==========================================================================
**/

/* CSS FILE COMMENTS [ INLINE ] */
body {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
